---

---
<section class="parfait parfait--black parfait--short parfait--home-contact">
  <div class="container">
    <h2 class="heading heading--eyebrow">#Contact</h2>
    <h3 class="heading heading--h1">Wanna roll together?</h3>
    <p>Let’s chat.</p>
    <div class="form-wrap">
      <form
        netlify
        netlify-honeypot
        name="contact"
        method="POST"
        action="/success"
        class="feedback-form"
      >
        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
        </p>
        <input type="hidden" name="form-name" value="contact" />
        <label for="name">Your name</label>
        <input id="name" type="text" name="name" />
        <label for="email">Your email</label>
        <input id="email" type="email" name="email" required />
        <label for="message">What are we talking about?</label>
        <textarea id="message" wrap="soft" name="message" required></textarea>
        <button type="submit">Do it!</button>
      </form>
    </div>
  </div>
</section>

<style>
  .parfait {
    border-top: 0;
    background-color: var(--color-black);
    background-image: url("../../images/rollin.black.png");
    background-size: contain;
    color: var(--color-white);
    min-height: 100dvh;
  }

  .heading--h2 {
    font-size: clamp(1.5rem, -0.2308rem + 5.5385vw, 6rem);
  }

  .heading--h2 a {
    color: var(--color-white);
    text-decoration: none;
  }

  .heading--h2 a:hover,
  .heading--h2 a:focus {
    color: var(--color-pink);
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    .parfait {
      min-height: 150dvh;
    }
  }
</style>