---

---
<section class="parfait parfait--black parfait--short parfait--home-contact">
  <div class="container">
    <h2 class="heading heading--eyebrow">#Contact</h2>
    <h3 class="heading heading--h1">Wanna roll together?</h3>
    <h4 class="heading heading--h2"><a href="/contact">shout at me!&nbsp;&rarr;</a></h4>
  </div>
</section>

<style>
  .parfait {
    border: 10px solid var(--color-white);
    border-top: 0;
    min-height: 80vh;
    background-color: var(--color-black);
    background-image: url("../../images/rollin.black.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 3rem 2rem;
    color: var(--color-white);
  }

  .heading {
    line-height: 1;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
  }

  .heading--h1 {
    font-size: clamp(3.5rem, -13.125rem + 50vw, 10rem);
    margin-top: 1rem;
  }

  .heading--h2 {
    font-size: clamp(1.5rem, -0.2308rem + 5.5385vw, 6rem);
  }

  .heading--h2 a {
    color: var(--color-white);
    text-decoration: none;
  }

  .heading--h2 a:hover,
  .heading--h2 a:focus {
    color: var(--color-pink);
    text-decoration: underline;
  }

  .heading--eyebrow {
    font-family: 'Bebas Neue', cursive;
  }

  @media (min-width: 700px) {
    .parfait {
      padding-left: calc(100px + 3rem);
    }
  }
</style>