---
import { Image } from 'astro:assets';
import squirrel from '../../images/squirrel.png';
---
<div class="hero">
  <div class="container">
    <div class="primary">
      <h1 class="heading heading--h1 heading--h1xl">Hi! Hello! Hey there!</h1>
    </div>
    <div class="secondary flow">
      <Image src={squirrel} alt="my idiot mug" class="photo" />
      <h2>My name’s Dan and I’m super happy you’re here.</h2>
      <p>I’m a frontend engineer in Portland, Oregon. I like a11y, JavaScript, CSS, rain, <a href="https://www.google.com/search?sca_esv=1e0a15d19e51fa54&q=mister+rogers+cardigan&tbm=isch&source=lnms&sa=X&sqi=2&ved=2ahUKEwiY7pGEgcCEAxVUIjQIHcgHDPoQ0pQJegQIChAB&biw=1707&bih=1294&dpr=2">cardigans</a>, good line breaks, moss, & <a href="https://www.poetryfoundation.org/poems/52422/cartoon-physics-part-1">cartoon physics</a>.</p>
      <p><a href="/about">More about me &rarr;</a></p>
    </div>
  </div>
</div>

<style>
  .hero {
    background-color: var(--color-orange);
    background-image: url(../../images/home.hero.bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid var(--color-white);
    border-bottom: 0;
  }

  .hero .container {
    align-items: end;
    justify-content: end;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1800px;
    min-height: 90vh;
    padding: 12rem 1rem 3rem;
    gap: 2rem;
  }

  .hero .primary {
    color: var(--color-white);
    grid-area: 1 / span 1;
  }

  .hero .secondary {
    color: var(--color-white);
    display: flex;
    font-size: 1.5rem;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding-bottom: 1.75rem;
  }

  .hero .secondary a {
    color: var(--color-white);
    text-decoration: underline;
  }

  .hero .secondary a:hover,
  .hero .secondary a:focus {
    color: var(--color-black);
  }

  .photo {
    align-self: center;
    border: 10px solid var(--color-white);
    border-radius: 50%;
    margin-bottom: 1rem;
    max-width: 200px;
    height: auto;
  }

h2 {
  border-top: 1rem solid;
  margin-top: 1rem;
  padding-top: 1rem;
  color: var(--color-white);
  line-height: 1;
  font-size: clamp(2rem, -1.2188rem + 7.5vw, 3rem);
  font-family: 'Bebas Neue', cursive;
  margin: 0;
}

  @media (min-width: 1000px) {
    .hero .container {
      grid-template-columns: 1fr .5fr;
      grid-template-rows: auto;
      gap: 5rem;
      padding: 8rem calc(100px + 3rem) 3rem;
    }
  }
</style>
