---

---
<section class="parfait parfait--blue parfait--tall parfait--home-work">
  <div class="container">
    <h2 class="heading heading--eyebrow">Work</h2>
    <h3 class="heading heading--h1">Client gigs & assorted nonsense</h3>
  </div>
</section>

<style>
  .parfait {
    border: 10px solid var(--color-white);
    min-height: 100vh;
    background-color: var(--color-blue);
    background-image: url("../../images/iss.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 3rem 1rem;
    color: var(--color-tan);
  }

  .heading--h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(3.5rem, -13.125rem + 50vw, 10rem);
    line-height: 1;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .heading--eyebrow {
    border-bottom: 4px solid;
    display: inline-block;
    font-family: Futura, sans-serif;
    font-weight: 400;
    padding-bottom: .25rem;
  }

  @media (min-width: 700px) {
    .parfait {
      padding-left: calc(100px + 3rem);
    }
  }
</style>