---

---
<section class="parfait parfait--blue parfait--tall parfait--home-work">
  <div class="container">
    <h2>Work</h2>
    <h3 class="heading heading--h1">Some Client work & other assorted nonsense</h3>
  </div>
</section>

<style>
  .parfait {
    border: 10px solid var(--color-white);
    min-height: 100vh;
    background-color: var(--color-blue);
    background-image: url("iss.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 3rem;
    padding-left: calc(100px + 3rem);
    color: var(--color-tan);
  }

  .heading--h1 {
    font-size: clamp(5rem, -13.125rem + 50vw, 10rem);
    line-height: 1;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
  }
</style>