---
import { getMostRecentPost } from "../../utils/sanity.js";
import Card from "../Card.astro";
export const prerender = false;
const post = await getMostRecentPost();
---

<section class="parfait parfait--yellow parfait--short parfait--home-writing">
  <div class="container">
    <h2 class="heading heading--eyebrow">Writing</h2>
    <h3 class="heading heading--h1">Mostly nouns & verbs</h3>
    <div class="grid">
      <Card post={post} />
    </div>
  </div>
</section>

<style>
  .parfait {
    border: 10px solid var(--color-white);
    border-top: 0;
    min-height: 80vh;
    background-color: var(--color-yellow);
    background-image: url("desk.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 3rem 1rem;
    color: var(--color-black);
  }

  .heading {
    line-height: 1;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
  }

  .heading--h1 {
    font-size: clamp(3.5rem, -13.125rem + 50vw, 10rem);
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .heading--h2 {
    font-size: clamp(3rem, -6.25rem + 50vw, 6rem);
  }

  .heading--h2 a {
    color: var(--color-white);
    text-decoration: none;
  }

  .heading--h2 a:hover,
  .heading--h2 a:focus {
    color: var(--color-pink);
    text-decoration: underline;
  }

  .heading--eyebrow {
    border-bottom: 4px solid;
    display: inline-block;
    font-family: Futura, sans-serif;
    font-weight: 400;
    padding-bottom: .25rem;
  }

  .grid {
    align-content: stretch;
    align-items: stretch;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    );
    grid-auto-rows: minmax(200px, auto);
    justify-items: stretch;
    margin-top: 2rem;
  }

  @media (min-width: 700px) {
    .parfait {
      padding-left: calc(100px + 3rem);
    }
  }
</style>