---
import { Image } from 'astro:assets';
import uglyMug from '../images/icondan.webp';
---

<header class="site-header">
  <div class="container">
    <div class="brand">
      <h1><a href="/">
        <Image src={uglyMug} alt="My ugly mug, but in cute vector form." />
      </a></h1>
    </div>
    <div class="hamburger hamburger--3dx">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
  </div>
</header>
<nav class="main-nav">
  <ul class="nav">
    <li>
      <a href="/work">Work</a>
    </li>
    <li>
      <a href="/blog">Writing</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>

<style>

.site-header {
  position: fixed;
  top: 2rem;
  left: 0;
  mix-blend-mode: difference;
  pointer-events: none;
  width: 100vw;
  z-index: 1;
}

.site-header.is-active {
  z-index: 10;
}

.site-header .container {
  grid-area: 1 / span 2;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-between;
  mix-blend-mode: difference;
  padding: 0 2rem;
  position: relative;
  z-index: 2;
}

.brand,
.brand img {
  max-width: 100px;
  height: auto;
  pointer-events: all;
}

.brand img:hover, .brand img:focus {
  opacity: 0.65;
}

.brand h1 {
  font-size: 1rem;
  color: white;
}

.main-nav {
  background-color: rgba(202, 46, 85, .9);
  bottom: 0;
  font-family: 'Bebas Neue', sans-serif;
  left: 200%;
  position: fixed;
  right: 10px;
  top: 10px;
  transition: left 0.5s ease-in-out;
  z-index: 3;
}

.is-scrolled .main-nav {
  top: 0;
}

.main-nav.is-active {
  left: 0;
}

.nav {
  align-items: center;
  color: var(--color-white);
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 5rem 0;
}

.main-nav a {
  color: var(--color-white);
  display: block;
  font-size: clamp(2rem, -13.125rem + 50vw, 7rem);
  text-decoration: none;
}
.main-nav a:hover, .main-nav a:focus {
  color: var(--color-black);
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  .main-nav.is-active {
    left: 33%;
  }
}

@media screen and (min-height: 1000px) {
  .main-nav a {
    font-size: clamp(3.5rem, -13.125rem + 50vw, 10rem);
  }
}
</style>

<script>
  import throttle from 'lodash/throttle';

  const handleScroll = () => {
    const navIsMega = window.matchMedia( '(min-width: 700px)' );
    const header = document.querySelector( '.site-header');

    [ 'load', 'scroll' ].forEach( ( ev ) => {
      window.addEventListener(
        ev,
        throttle( () => {
          if ( ! navIsMega.matches ) {
            return;
          }

          if ( window.scrollY > 0 ) {
            header.classList.add( 'is-scrolled' );
          } else {
            header.classList.remove( 'is-scrolled' );
          }
        },
        250,
        {
          trailing: true,
          leading: true,
        } )
      );
    } );
  };

  const toggleBurger = () => {
    console.log( 'ðŸ”');
    const hamburger = document.querySelectorAll( '.hamburger' );
    const mainNav = document.querySelector( '.main-nav' );
    const header = document.querySelector( '.site-header' );

    hamburger.forEach( ( h ) => {
      h.addEventListener( 'click', () => {
        console.log( 'ðŸ” clicked');
        h.classList.toggle( 'is-active' );
        mainNav.classList.toggle( 'is-active' );
        header.classList.toggle( 'is-active' );
        document.body.classList.toggle( 'no-scroll' );
      } );
    } );
  };

  handleScroll();
  toggleBurger();

  document.addEventListener('astro:after-swap',
  () => {
    handleScroll();
    toggleBurger();
  })

</script>