---

---
<div class="hero">
  <div class="primary">
    <h1 class="heading heading--h1">Hi! Hello! Hey there!</h1>
  </div>
  <div class="secondary">
    <img src="squirrel.png" alt="photo of my idiot mug" class="photo" />
    <h2>My name’s Dan and I’m super happy you’re here.</h2>
    <p>I’m a frontend engineer in Portland, Oregon. I like rain, cardigans, good line breaks, a11y, JavaScript, CSS, moss, & cartoon physics.</p>
  </div>
</div>

<style>
  .hero {
    border: 10px solid var(--color-white);
    border-bottom: 0;
    align-items: end;
    justify-content: end;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("home.hero.bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8rem calc(100px + 3rem) 3rem;
    gap: 0;

    & .primary {
      color: var(--color-white);
      grid-area: 1 / span 1;
    }

    & .secondary {
      color: var(--color-white);
      display: flex;
      font-size: 1.5rem;
      flex-flow: column nowrap;
      justify-content: flex-end;
      padding-bottom: 1.75rem;

      & > * + * {
        margin-top: 1rem;
      }
    }
  }

  .heading--h1 {
    font-size: clamp(5rem, -13.125rem + 50vw, 15rem);
    line-height: 1;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
  }

  .photo {
    align-self: center;
    border: 1rem solid var(--color-white);
    border-radius: 50%;
    margin-bottom: 1rem;
    max-width: 200px;
  }

  @media (min-width: 700px) {
    .hero {
      grid-template-columns: 1fr .5fr;
      grid-template-rows: auto;
      gap: 5rem;
    }
  }
</style>